<template name="slider">
	<article>
    	<div class="wrapper">
            <h3 class="h3">TRENDY PRODUCTS</h3>
			<section style="opacity: 1;" id="trendy">				
				
			<div style="overflow: hidden; position: relative;" class="flex-viewport"><ul style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-576px, 0px, 0px);" class="slides"><li style="width: 288px; float: left; display: block;" class="clone">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
					<li style="width: 288px; float: left; display: block;" class="">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
					<li class="flex-active-slide" style="width: 288px; float: left; display: block;">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
					<li class="" style="width: 288px; float: left; display: block;">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
				<li style="width: 288px; float: left; display: block;" class="clone">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></section> <!-- #slider -->  
			
			<h3 class="h3">BEST SELLING PRODUCTS</h3>
			<section style="opacity: 1;" id="best_selling">				
				
			<div style="overflow: hidden; position: relative;" class="flex-viewport"><ul style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-576px, 0px, 0px);" class="slides"><li style="width: 288px; float: left; display: block;" class="clone">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
					<li style="width: 288px; float: left; display: block;" class="">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
					<li class="flex-active-slide" style="width: 288px; float: left; display: block;">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
					<li class="" style="width: 288px; float: left; display: block;">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li>
				<li style="width: 288px; float: left; display: block;" class="clone">
						<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
					</li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></section> <!-- #slider -->
			
			<h3 class="h3">SEASON PRODUCTS</h3>
			<section style="opacity: 1;" id="season">				
				
				<div style="overflow: hidden; position: relative;" class="flex-viewport">
					<ul style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-576px, 0px, 0px);" class="slides">
						<li style="width: 288px; float: left; display: block;" class="clone">
							<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
						</li>
						<li style="width: 288px; float: left; display: block;" class="">
							<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
						</li>
						<li class="flex-active-slide" style="width: 288px; float: left; display: block;">
							<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
						</li>
						<li class="" style="width: 288px; float: left; display: block;">
							<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
						</li>
						<li style="width: 288px; float: left; display: block;" class="clone">
							<a href="#"><img src="img/photo.jpg" class="img-circle" width="50"></a>	
						</li>
					</ul>
				</div>
				<ul class="flex-direction-nav">
					<li>
						<a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a>
					</li>
				</ul>
			</section> <!-- #slider -->
		</div>
    </article>
</template>