 <template name="home">
    <section id="slider">
        <ul class="slides">
            <li><img src="img/slider_600x400.jpg" alt="" /></li>
            <li><img src="img/slider_600x400.jpg" alt="" /></li>
            <li><img src="img/slider_600x400.jpg" alt="" /></li>
        </ul>
    </section> <!-- #slider -->
    <article>

    	<div class="wrapper">

        	<span class="post-date">27 JUNE 2013, 14:13</span>
            <h2 class="home_products">TRENDY PRODUCTS</h2>

            <!--<p class="prologue">This is your index page. There's big <strong>slider</strong> located in the top of this page which supports <strong>swipe gestues</strong> on mobile phones. I hope you enjoy my brand new template called <strong>Gamma!</strong></p>-->
            <div class="row">
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                        <div class="caption"> 
                            <p class="text-center">Product title can display only two line maximum....</p> 
                            <h3 class="text-center price">21,00€ <a href=""><span class="fa fa-heart red" aria-hidden="true"></span></a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                        <div class="caption"> 
                            <p class="text-center">Product title can display only two line maximum....</p> 
                            <h3 class="text-center price">21,00€ <a href=""><span class="fa fa-heart-o" aria-hidden="true"></span></a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="home_products">BEST SELLER PRODUCTS</h2>

            <div class="row">
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                        <div class="caption"> 
                            <p class="text-center">Product title can display only two line maximum....</p> 
                            <h3 class="text-center price">21,00€</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="thumbnail">
                        <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                        <div class="caption"> 
                            <p class="text-center">Product title can display only two line maximum....</p> 
                            <h3 class="text-center price">21,00€</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<table class="contact">
        	<tr>
            	<td><a href="#"><img src="img/icons/big-tel.png" alt="" /></a></td>
                <td><a href="#"><img src="img/icons/big-mail.png" alt="" /></a></td>
                <td><a href="#" target="_blank"><img src="img/icons/big-web.png" alt="" /></a></td>
                <td><a href="#" target="_blank"><img src="img/icons/big-cart.png" alt="" /></a></td>
            </tr>

            <tr class="info">
            	<td colspan="4"><img src="img/icons/small-web.png" alt="" /><span><a href="http://themeforest.net/user/lukepostulka">http://lukepostulka.net/</a></span></td>
            </tr>

            <tr class="info">
            	<td colspan="4"><img src="img/icons/small-mail.png" alt="" /><span>support@lukepostulka.net</span></td>
            </tr>

            <tr class="info">
            	<td colspan="4"><img src="img/icons/small-home.png" alt="" /><span>12345 Street Some Lane, New York</span></td>
            </tr>

        </table>

        <div class="wrapper">

            <p>Gamma is crystal-clear mobile template. It has pure typography and blogging spirit. If you like modern and clean flat design look no further. <strong>Gamma</strong> has big sidebar menu, so reaching your favorit pages is therefore very easy.</p>
			<p>One again I hope you enjoy my brand new template. If you feel to it you can follow me on <a href="#" target="_blank">ThemeForest</a>, there's always good stuff coming up so <strong>stay in touch!</strong></p>

			<p><a href="blog.html"><input type="button" value="Read Blog" /></a><a href="#"><input type="button" value="Buy Me" /></a></p>

        </div>-->
        
    </article> <!-- #post -->
</template>
